:root {
    --dark-blue: #081158;
    --gainsboro: #dfdfdf;
    --smoke: whitesmoke;
    --grey: #afafaf;
    --white-smoke: #eef0f4;
    --white: white;
    --azure: #d2e4e0;
    --black: black;
    --light-blue: #5b95d2;
    --green: #8ea5a0;
    --lightest-blue: #cfddee;
    --plum: #ec8675;
}

body {
    color: var(--dark-blue);
    font-family: Red Hat Display, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 72px;
    font-weight: 500;
    line-height: 1.1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.1em;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 1.1em;
}

h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1em;
}

h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Sato, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1em;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Sato, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8em;
}

a {
    color: var(--dark-blue);
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    transition: opacity .5s;
}

a:hover {
    opacity: .8;
}

ul {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 20px;
}

li {
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    list-style-type: none;
    display: flex;
}

img {
    max-width: 100%;
    display: inline-block;
}

strong {
    font-weight: 600;
}


/*Section*/

.section {
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    position: relative;
}

.section.hero {
    background-color: var(--white-smoke);
}

.section.footer-section {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.section.free-w-hero {
    background-color: var(--smoke);
    overflow: hidden;
}

/*Container*/

.container {
    z-index: 2;
    width: 95%;
    max-width: 1450px;
    position: relative;
}

.container.nav-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.container.flex-center {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.container.grid-2 {
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.container.footer-container {
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 50px;
    display: grid;
}

.column {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: relative;
}

.label {
    color: var(--dark-blue);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500;
}

.label.footer-label {
    color: var(--white);
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    position: static;
}

.nav-link {
    color: var(--dark-blue);
    border-bottom-style: none;
    padding: 10px 20px;
    font-weight: 700;
    display: block;
}

.nav-link.w--current {
    color: var(--dark-blue);
    font-weight: 700;
}

.button {
    min-width: 200px;
    background-color: var(--dark-blue);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: url('../images/Vector-4.svg');
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: auto 15px;
    border: 0 solid #000;
    border-radius: 6px;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: Sato, sans-serif;
    font-weight: 500;
    line-height: 1.6em;
    transition: padding .5s cubic-bezier(.23, 1, .32, 1), background-position .5s cubic-bezier(.23, 1, .32, 1), transform .5s cubic-bezier(.23, 1, .32, 1), color .2s, opacity .2s;
    display: block;
}

.button:hover {
    background-position: 30px;
    padding-left: 50px;
    transform: translate(0, -3px);
}

.button.white {
    background-color: var(--white);
    color: var(--dark-blue);
    background-image: url('../images/Vector-4-1.svg');
}

.navbar {
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
}

.nav-menu {
    align-items: center;
    display: flex;
}

.red-hat {
    font-family: Red Hat Display, sans-serif;
}

.brand-logo {
    width: 80px;
    height: 80px;
    max-width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0 0;
    background-size: auto;
    flex: 0 auto;
    display: block;
    overflow: visible;
}

.page-wrap {
    overflow: hidden;
}

.page-wrap.no-overflow {
    overflow: visible;
}

.section-bg-image {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.section-bg-image.top-align {
    object-position: 50% 50%;
}

/*Footer*/

.footer-contact-link {
    color: var(--white);
    font-family: Changa One, Impact, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.6em;
}

.footer-link {
    color: var(--white);
    margin-bottom: 5px;
    font-family: Sato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6em;
}

.footer-brand {
    height: 30px;
    border-bottom-style: none;
    padding-left: 0;
}


.hero-image-mask {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.free-workout-shape {
    z-index: 2;
    height: 350px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-line {
    z-index: 2;
    width: 150vw;
    height: 200px;
    background-color: var(--lightest-blue);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(2deg);
}

.hero-line.shop-line {
    background-color: var(--dark-blue);
    color: var(--white);
}

.container-2 {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.centered-heading {
    text-align: center;
    margin-bottom: 16px;
}

.centered-subheading {
    max-width: 530px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.comparison-table {
    flex-direction: column;
    margin-top: 50px;
    display: flex;
}

.comparison-row-main {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4ebf3;
    grid-template: "Area Area-2"
                 ". ."
                 / 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
}

.comparison-title {
    margin-bottom: 0;
    margin-left: 24px;
}

.comparison-row {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid #e4ebf3;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
}

.comparison-fighter1 {
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 24px;
    padding-left: 40px;
}

.comparison-fighter2 {
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 24px;
    padding-left: 40px;
}

.image {
    position: absolute;
}
