/* src/components/HomePage.css */
.fighters-container {
    display: flex;
    justify-content: space-between;
}

.fighters-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fighter-icon {
    margin: 10px;
}

.fighter-icon img {
    width: 100px;
    height: 100px;
}


